---
import Blog from '../../layouts/Blog.astro'

import Footer from '../../components/Footer.astro'

import { getCollection } from 'astro:content'
import HeaderPosts from '../../components/HeaderPosts.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }))
}
const post = Astro.props
const { Content } = await post.render()
---

<Blog title={post.data.title}>
  <HeaderPosts title={post.data.title} />

  <aside class="fixed top-[10%] hidden xl:block" transition:animate="slide">
    <div class="ml-8 2xl:ml-20 flex flex-col items-start font-bold w-full text-3xl font-bebas text-black/70 dark:text-white/80 group/aside">
      <span class="text-4xl underline text-black/80 dark:text-white/90 font-bebas tracking-widest group-hover/aside:animate-bounce mb-2">Explore</span>
      <a class="flex items-center gap-x-2 hover:text-orange-600 group tracking-wider" target="_blank" href="/">
        - Portfolio<span class="hidden group-hover:block animate-pulse">⇠</span>
      </a>

      <div class="w-[20px] h-1 bg-gray-500/30 rounded-full my-2"></div>

      <a class="flex items-center gap-x-2 hover:text-orange-600 group tracking-wider" href="/posts">
        - Posts
        <span class="hidden group-hover:block animate-pulse">⇠</span>
      </a>
      <a class="flex items-center gap-x-2 hover:text-orange-600 group tracking-wider" href="#top">
        - Go to Top
        <span class="hidden group-hover:block animate-pulse">⇡</span>
      </a>
    </div>
  </aside>

  <article class='relative mx-auto w-full max-w-5xl px-6 pb-20 pt-10 lg:px-0 font-content text-lg md:text-2xl dark:text-white/90'>
    <Content />
  </article>

  <footer class='mx-auto max-w-7xl pt-10'>
    <Footer />
  </footer>
</Blog>

<style is:global>
  h1, h2, h3, h4, p, span, li, a {
    text-wrap: pretty !important;
  }
  strong {
    font-weight: 600 !important;
  }

  h1 {
    font-size: 50px !important;
    font-weight: 700 !important;
    margin: 30px 0 20px 0 !important;
    padding: 30px 0 0 0 !important;
    color: rgb(249, 115, 22);
    font-family: BebasNeue, Inter;
    letter-spacing: 1.8px !important;
    line-height: 45px !important;
  }

  h2 {
    font-weight: 700 !important;
    font-size: 28px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }

  h3 {
    font-size: 24px !important;
    font-weight: 700 !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }

  h4 {
    padding-top: 10px !important;
    margin-bottom: 30px !important;
  }
  .none-styles {
    padding: 0 !important;
    margin: 0 !important;
  }
  p {
    padding: 5px 0;
  }

  ul {
    margin: 10px 0 !important;
  }
  li {
    padding-left: 30px;
    padding-top: 10px;
    margin: 5px 0;
    font-weight: 200;
  }
  li > strong {
    font-weight: 700;
  }
  li.li-menu {
    padding-left: 0px;
    padding-top: 2px !important;
    margin: 0;
  }

  pre {
    margin: 5px 0 !important;
    padding: 15px;
    border-radius: 12px;
    font-size: 80%;
    max-height: 700px !important;
    background: #101010 !important;
  }

  span.line, code  {
    width: 800px !important;
    display: inline-block !important;
  }

  blockquote > p {
    padding: 6px 10px !important;
    font-size: 20px !important;
    border: 5px none rgba(255, 169, 93, 0.995);
    border-left-style: solid;
    color: black;
    text-wrap: pretty !important;
  }

  body.dark blockquote > p {
    color: white;
  }

  #tablecontent > ul > li {
    padding-left: 10px;
  }
  #tablecontent > ul > li:hover,
  #tablecontent > ul > li:hover {
    color: rgb(249, 115, 22) !important;
    text-decoration-line: underline;
  }
  #tablecontent > ul > li > a {
    font-size: 20px !important;
  }
</style>
