---
import Layout from '../layouts/Layout.astro'
---

<Layout title='404 - Not Found'>
  <main class='flex h-screen items-center justify-center'>
    <div
      class='flex flex-col items-center justify-center text-center text-black/70'
    >
      <h1 class='mb-4 text-9xl font-bold'>404</h1>
      <div class='my-5 h-[1px] w-[400px] rounded bg-black/80'></div>
      <h1 class='mb-4 text-6xl font-extrabold'>Oops!</h1>
      <a
        href='/'
        target='_top'
        rel='noopener noreferrer'
        class='text-lg font-bold text-zinc-500 transition duration-200 hover:text-black'
        >Return to Home</a
      >
    </div>
  </main>
</Layout>
