---
import Layout from '../layouts/Layout.astro';

---

<Layout title="404 - Not Found">
    <main class="h-screen flex items-center justify-center">
        <div class="text-center text-black/70 flex flex-col items-center justify-center">
          <h1 class="text-9xl font-bold mb-4">404</h1>
          <div class="w-[400px] h-[1px] bg-black/80 rounded my-5" />
          <h1 class="text-6xl font-extrabold mb-4">Oops!</h1>
          <a href="/" target="_top" rel="noopener noreferrer" class="font-bold text-lg text-zinc-500 hover:text-black transition duration-200">Return to Home</a>
        </div>
    </main>
</Layout>