---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Coming Soon">
    <main class="h-screen flex items-center justify-center">
        <div class="text-center text-black/70 flex flex-col items-center justify-center">
          <h1 class="text-6xl font-bold mb-4">Coming Soon</h1>
          <p class="text-lg mb-6">I'm working to bring you exciting content!</p>
          <div class="w-[400px] h-[1px] bg-black/80 rounded my-5" />
          <a href="/" target="_top" rel="noopener noreferrer" class="font-bold text-lg text-zinc-500 hover:text-black transition duration-200">Return to Home</a>
        </div>
    </main>
</Layout>