---
import {
  Sun,
  Moon,
} from './svg'
---
<label
  for="dark-mode-switch"
  class="relative flex justify-end items-center cursor-pointer z-30"
>
  <input
    type="checkbox"
    id="dark-mode-switch"
    aria-label="switch mode options"
    aria-labelledby="toggle theme"
  >
  <Sun classProps="hidden sun-mode w-8 h-8 text-gray-800 dark:text-white" />
  <Moon classProps="hidden moon-mode w-8 h-8 text-gray-800 dark:text-white" />
</label>

<script src="/scripts/switch_mode.js" is:inline data-astro-reload></script>
