---
import {
  Github,
  Linkedin,
  Twitter,
  Mail,
} from "./svg";

const classProps = "w-8 h-8 hover:text-orange-500 duration-300 hover:rotate-2"
---
<div class="container mx-auto text-center flex flex-col justify-center items-center">
  <h3 class="text-2xl font-bold">Javi's Portfolio</h3>
  <img class="my-5 w-20 h-20 hover:scale-110 duration-300" src="/favicon.svg" alt="icon">
  <p class="mt-4">I hope you enjoy it.</p>
  <div class="my-8">
    <h3 class="text-2xl font-bold">Contact</h3>
    <div class="w-full flex-col justify-center items-center">
      <ul class="flex gap-x-4 my-4">
        <li><a href="mailto:ws.2000.sja@gmail.com" target="_blank" rel="noopener noreferrer"><Mail classProps={classProps} /></a></li>
        <li><a href="https://twitter.com/javslvt" target="_blank" rel="noopener noreferrer"><Twitter classProps={classProps}  /></a></li>
        <li><a href="https://github.com/di4m0nds" target="_blank" rel="noopener noreferrer"><Github classProps={classProps}  /></a></li>
        <li><a href="https://www.linkedin.com/in/silvestrijavier/" target="_blank" rel="noopener noreferrer"><Linkedin classProps={classProps}  /></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="text-center pb-[30px]">
  <p class="text-gray-400">&copy; {new Date().getFullYear()} Javi.</p>
</div>
