---
import DarkModeSwitch from "./DarkModeSwitch.astro";
import MenuOptions from "./MenuOptions.astro";

interface Props {
  title: string | null
}

const { title } = Astro.props
---
<header class="relative w-full flex justify-end items-center">
  <h4
    class="flex-grow font-medium text-4xl md:mb-0 mb-4 dark:text-white text-gray-800 text-center md:text-left">
    Javi's Posts
    <span
      transition:name={`${title != null ? title.toLowerCase().replaceAll(' ', '_') : 'none'}`}
      class="font-thin text-orange-500"
    >
      {title != null ? `| ${title}` : ''}
    </span>
  </h4>
  <div
    class={`
      fixed md:top-10 md:bottom-auto bottom-10
      flex flex-row justify-between items-center gap-x-4
      py-2 px-4 dark:bg-slate-800/80 bg-slate-100/50 rounded-full
      shadow-sm hover:shadow-xl mr-1 duration-300 z-50
      backdrop-blur-sm
    `}
    id="menu"
  >
    <DarkModeSwitch />
    <div class="w-2 h-10 rounded-full dark:bg-[#1d2022] bg-[#efeae3]"></div>
    <div class="relative w-8 h-8">
      <MenuOptions />
    </div>
  </div>
</header>