---
import { slide } from 'astro:transitions'
import DarkModeSwitch from './DarkModeSwitch.astro'
import MenuOptions from './MenuOptions.astro'

interface Props {
  title: string | null
}

const { title } = Astro.props
---

<header class='relative mx-auto max-w-5xl px-5 pt-10 lg:px-0'>
  <div class='relative flex items-end justify-end'>
    <h4
      class='none-styles m-0 flex-grow p-0 text-4xl font-medium text-gray-800 dark:text-white'
    >
      Javi's Posts
      {
        title != null ? (
          <span class='flex flex-row flex-wrap mt-10 font-bebas'>
            {title.split(' ').map((word, i) => (
              <span
                key={i}
                transition:animate={slide({ duration: `0.${i + 5}s` })}
                class='sm:my-3 md:my-7 p-0 font-semibold text-orange-600 duration-100 dark:text-orange-500 text-[50px] sm:text-[75px] md:text-[120px] hover:scale-95 hover:bg-orange-500 dark:hover:text-white hover:text-black'
              >
                {word}&nbsp;
              </span>
            ))}
          </span>
        ) : (
          ''
        )
      }
    </h4>
    <div class='h-2 w-0 md:w-[180px]'></div>
    <div
      class={`
        fixed md:top-8 right-4 md:right-auto md:bottom-auto bottom-10
        flex flex-row justify-between items-center gap-x-4
        py-2 px-4 dark:bg-slate-800/80 bg-slate-100/50 rounded-full
        shadow-sm hover:shadow-xl mr-1 duration-300 z-50
        backdrop-blur-sm
        opacity-50 hover:opacity-100
      `}
      id='menu'
    >
      <DarkModeSwitch />
      <div class='h-10 w-2 rounded-full bg-[#efeae3] dark:bg-[#1d2022]'></div>
      <div class='relative h-8 w-8'>
        <MenuOptions />
      </div>
    </div>
  </div>
</header>
