---
import DarkModeSwitch from "./DarkModeSwitch.astro";
import MenuOptions from "./MenuOptions.astro";

interface Props {
  title: string | null
}

const { title } = Astro.props
---
<header class="max-w-5xl mx-auto relative px-10 pt-10 lg:px-0">
  <div class="relative flex justify-end items-end">
    <h4
      class="none-styles flex-grow font-medium text-4xl dark:text-white text-gray-800 p-0 m-0"
    >
      Javi's Posts
      {title != null
        ? (
          <span transition:animate="slide" class="text-gray-600 dark:text-gray-600/80"> | </span>
          <span
            transition:name={`${title.toLowerCase().replaceAll(' ', '_')}`}
            class="font-thin dark:text-orange-500 text-orange-600 p-0 m-0"
          >
            {title}
          </span>
        ) : ''}
    </h4>
    <div class="h-2 w-0 md:w-[180px]" />
    <div
      class={`
        fixed md:top-8 right-4 md:right-auto md:bottom-auto bottom-10
        flex flex-row justify-between items-center gap-x-4
        py-2 px-4 dark:bg-slate-800/80 bg-slate-100/50 rounded-full
        shadow-sm hover:shadow-xl mr-1 duration-300 z-50
        backdrop-blur-sm
      `}
      id="menu"
    >
      <DarkModeSwitch />
      <div class="w-2 h-10 rounded-full dark:bg-[#1d2022] bg-[#efeae3]"></div>
      <div class="relative w-8 h-8">
        <MenuOptions />
      </div>
    </div>
  </div>
</header>