---
import { Menu, Blog, Github, Suitcase, Linkedin } from './svg'
---

<main class='main-menu relative'>
  <div class='menu relative' transition:persist='menu'>
    <div class='toggle flex flex-row items-end justify-end p-0 md:items-start'>
      <Menu classProps='w-8 h-8' />
    </div>
    <ul class='none-styles'>
      <li style={{ '--i': '0' }} class='li-menu'>
        <a
          href='https://www.linkedin.com/in/silvestrijavier/'
          class='rounded-full bg-slate-100/90 p-3 shadow-md backdrop-blur-sm duration-300 hover:text-orange-500 dark:bg-slate-800/70'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='Read more about LinkedIn'
          ><Linkedin classProps='w-8 h-8' /></a
        >
      </li>
      <li style={{ '--i': '1' }} class='li-menu'>
        <a
          href='https://github.com/di4m0nds'
          class='rounded-full bg-slate-100/90 p-3 shadow-md backdrop-blur-sm duration-300 hover:text-orange-500 dark:bg-slate-800/70'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='Read more about Github'><Github classProps='w-8 h-8' /></a
        >
      </li>
      <li style={{ '--i': '2' }} class='li-menu'>
        <a
          href='/#projects'
          class='rounded-full bg-slate-100/90 p-3 shadow-md backdrop-blur-sm duration-300 hover:text-orange-500 dark:bg-slate-800/70'
          aria-label='Read more about my projects'
          ><Suitcase classProps='w-8 h-8' /></a
        >
      </li>
      <li style={{ '--i': '3' }} class='li-menu'>
        <a
          href='/posts'
          class='rounded-full bg-slate-100/90 p-3 shadow-md duration-300 hover:text-orange-500 dark:bg-slate-800/70'
          aria-label='Read more about my blog'><Blog classProps='w-8 h-8' /></a
        >
      </li>
    </ul>
  </div>
</main>

<style>
  .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .menu {
    position: relative;
    width: 200px;
    height: 0px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .menu .toggle {
    position: relative;
    cursor: pointer;
  }

  .menu.active .toggle {
    color: rgb(249 115 22);
    height: 200px;
    opacity: 1;
  }

  .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transform: rotate(calc(140deg / 4 * var(--i)));
    transform-origin: 140px;
    scale: 0;
    transition-delay: calc(0.06s * var(--i));
  }

  .menu.active li {
    scale: 1;
  }

  .menu li a {
    position: relative;
    display: flex;
    transform: rotate(calc(140deg / -4 * var(--i)));
  }

  ul {
    position: absolute;
    left: 0;
    bottom: 45px;
  }

  @media (min-width: 750px) {
    .main-menu {
      top: 0;
    }
    .menu {
      align-items: start;
    }
    .menu li {
      transform: rotate(calc(-140deg / 4 * var(--i)));
    }
    .menu li a {
      transform: rotate(calc(-140deg / -4 * var(--i)));
    }
    ul {
      bottom: auto;
      top: -15px;
    }
  }
</style>

<script>
  const runSetup = () => {
    let toggle = document.querySelector('.toggle') as HTMLElement
    let menu = document.querySelector('.menu') as HTMLElement

    toggle.onclick = () => {
      menu?.classList.toggle('active')
    }

    document.addEventListener('keydown', function (event) {
      if (event.key === 'm') {
        menu?.classList.toggle('active')
      }
    })
  }

  runSetup()

  document.addEventListener('astro:page-load', runSetup)
</script>
