---
import { NumberSign } from './svg'
import { timeSincePublication } from '../utils/functions'
import { slide } from 'astro:transitions'

interface Props {
  slug: string
  ready: boolean
  title: string
  description: string
  tags: string[]
  pubDate: Date
  index: number
}

const { slug, ready, title, description, tags, pubDate, index } = Astro.props
---

<article
  class={`
    relative p-5
    rounded-md
    border-2 border-transparent
   
    ${
      ready
        ? 'dark:bg-slate-600/40 bg-orange-300/30 hover:border-orange-500 hover:bg-orange-100/20'
        : 'bg-slate-300/30 dark:bg-slate-300/20 text-gray-400'
    }
  `}
>
  <h2 class='text-xl font-medium'>
    {title}
  </h2>

  <p class='my-2'>
    {
      description.length > 100
        ? description.substring(0, 99) + ' ...'
        : description
    }
  </p>

  <div class='my-5 flex flex-wrap gap-2'>
    {
      tags.map((tag, i) => (
        <span
          transition:animate={slide({ duration: `0.${i}9s` })}
          class={`
            bg-gradient-to-r px-3

            py-1 
            ${
              ready
                ? 'from-orange-500 to-yellow-500'
                : 'from-slate-600/30 to-gray-400 dark:from-gray-300/30'
            }

            text-white dark:${ready ? 'text-black' : 'text-gray-600'}
            rounded-full text-sm font-medium
            duration-75 hover:scale-105
          `}
        >
          {tag}
        </span>
      ))
    }
  </div>

  <p class='font-regular text-sm text-gray-600 dark:text-gray-200'>
    {ready ? timeSincePublication(pubDate) : 'Under Construction'}
  </p>

  <div
    class={`
      absolute bottom-4 right-6 flex items-center
      hover:scale-150 hover:rotate-0
      scale-125 rotate-6 duration-150
      ${ready ? 'text-orange-500' : 'text-gray-400'} dark:text-gray-400
    `}
  >
    <NumberSign classProps='w-8 h-8' />
    <span class='text-2xl font-bold'>{index}</span>
  </div>
</article>
