---
interface Props {
  pubDate: Date
  title: string
  description: string
  author: string
  tags: string[]
}

import { displayDate } from '../utils/functions'
import { DateFormat } from '../utils/enums'
import { slide } from 'astro:transitions'

const { pubDate, title, description, author, tags } = Astro.props

const postDate = new Date(pubDate)
---

<header class='mb-5 flex w-full flex-col font-content'>

  <div class='flex flex-wrap gap-4 mb-2'>
    {
      tags &&
        tags.length > 0 &&
        tags.map((tag, i) => (
          <span
            transition:animate={slide({ duration: `0.${i + 3}s` })}
            class={`
            rounded-full
            bg-orange-500 
            uppercase

            \bg-gradient-to-r
            \from-orange-500 
            \to-yellow-500 px-3

            py-1 text-sm
            font-bold text-white duration-75
            hover:scale-110 dark:text-black hover:-rotate-6
            dark:hover:bg-orange-300 hover:bg-orange-700 
          `}
          >
            {tag}
          </span>
        ))
    }
  </div>

  <p class='my-5 w-full'>{description}</p>

  <div class='flex flex-col justify-between md:flex-row text-lg opacity-70'>
    <p class='flex flex-row gap-x-2'>
      <span class='font-bold'>Author:</span>{author}
    </p>
    <p class='mb-4 flex flex-row gap-x-2 md:mb-auto'>
      <span class='font-bold'>Publication date:</span>{
        displayDate(postDate, DateFormat.LongDateTime)
      }
    </p>
  </div>
</header>
