html {
	background-color: #efeae3;
	color: #000000;
	scroll-behavior: smooth;
}

* {
  scrollbar-color: rgba(150, 150, 150, 10) transparent !important;
}

body {
	overflow-x: hidden;
}

.dark {
	/*background-color: #1d2022;*/
	background-color: #1e1e1e;
	color: white;
}

/* Change Text Selection Color */

::selection {
  background: rgb(249, 115, 22); /* Background color for selected text */
  color: black; /* Text color for selected text */
}

::-moz-selection {
  background: rgb(249, 115, 22);
  color: black;
}
